@import 'cardinal/cardinal.less';


html {
  font-size: 18px;
}

body {
  font-family: "PT Serif", serif;
}

small {
  font-size: 60%;
  color: @gray-darker;
}

.wrapper {
  max-width: 55rem;
}

.hidden {
  display: none;
}

.form-error {
  //color: #FF4136;
  color: #d9534f;
}