<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# <meta http-equiv="ClearType" content="true"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Begemot</title>
    <link rel='stylesheet' type='text/css' href="/css/style.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Serif:400,700'>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
          <h2><img class="logo" src="/img/begemot.png" /> <a href="{{ app.path('home') }}">Begemot</a> <small>Jekyll by Email</small></h2>
        </div>
      </header>

      <div class="grid">
        <div class="grid-item">
          {% block body %}{% endblock %}
        </div>
      </div>

      <div class="grid">
        <div class="grid-item">
          <footer>
            Questions? Comments? Bugs? Email me: <a href="mailto:grin@grin.io">alex@grin.io</a>
          </footer>
        </div>
      </footer>


      <div class="hidden">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"js/vendor/jquery-2.1.1.min.js\"><\/script>")</script>

        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>

        {% if not app.debug %}
          <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-48451015-3', 'auto');
            ga('send', 'pageview');
          </script>
        {% endif %}
      </div>
   </div>
  </body>
</html>