<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {# <meta http-equiv="ClearType" content="true"> #}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> #}
    <title>Begemot</title>
    <link rel='stylesheet' type='text/css' href="/css/style.css">
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=PT+Serif:400,700'>
    <script src="/js/vendor/modernizr-2.8.1.min.js"></script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <div>
          <h1><img class="logo" src="/img/begemot.png" /> <a href="{{ app.path('home') }}">Begemot</a> <small>Jekyll by Email</small></h1>
        </div>
      </header>
      <div class="grid">
        <div class="grid-item">
          {% block body %}{% endblock %}
        </div>
      </div>

      {#
      <footer class="grid">
        Begemot | About | Pricing | Contact
      </footer>
      #}

      <div class="hidden">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script>window.jQuery || document.write("<script src=\"js/vendor/jquery-2.1.1.min.js\"><\/script>")</script>

        <!-- Scripts -->
        <script src="/js/plugins.js"></script>
        <script src="/js/main.js"></script>
      </div>

      {#
      <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
       #}
   </div>
  </body>
</html>
