{% extends "base.twig" %}

{% block body %}
  <h3>Branch</h3>

  {% include "partials/form_errors.twig" with {'errors': errors} %}

  <form method="POST" action="{{ app.path('github_select_branch') }}">
    <p><label for="branch">Choose the branch where your posts will go</label></p>
    <p><select id="branch" name="branch">
      {% for branchName in branches %}
        <option value="{{ branchName }}" {% if selectedBranch == branchName %}selected{% endif %}>{{ branchName }}</option>
      {% endfor %}
    </select></p>
    <button class="button button-primary" type="submit">Submit</button>
  </form>
{% endblock %}