{% extends "base.twig" %}

{% block body %}
  <h2>Select Repository</h2>

  {% include "partials/form_errors.twig" with {'errors': errors} %}

  <form method="POST" action="{{ app.path('github_select_repo') }}">
    <p><label for="repo">Choose the repository where your blog lives</label></p>
    <p><select id="repo" name="repo">
      <option value=""></option>
      {% for repo in repos %}
        <option value="{{ repo.full_name }}" {% if selectedRepo == repo.full_name %}selected{% endif %}>{{ repo.full_name }} - {{ repo.description | substr(50) }}</option>
      {% endfor %}
    </select></p>
    <button class="button button-primary" type="submit">Submit</button>
  </form>
{% endblock %}