{% extends "base.twig" %}

{% block body %}
  <h2>Post Directory</h2>

  {% include "partials/form_errors.twig" with {'errors': errors} %}

  <form method="POST" action="{{ app.path('github_select_path') }}">
    <p><label for="path">What folder should we create your posts in?</label></p>
    <p><input type="text" name="path" value="{{ selectedPath }}" /></p>
    <button class="button button-primary" type="submit">Submit</button>
  </form>
{% endblock %}