{% extends "base.twig" %}

{% block body %}
  <h1>Enter Directory</h1>

  {% include "partials/form_errors.twig" with {'errors': errors} %}

  <form method="POST" action="{{ app.path('github_select_path') }}">
    <label for="path">Enter the directory where your posts will be saved.</label>
    <input type="text" name="path" value="{{ selectedPath }}" />
    <input type="submit" />
  </form>
{% endblock %}