{% extends "base.twig" %}

{% block body %}

  <p class="lead">
    Post to your Github-hosted blog just by sending an email.
  </p>

  <a class="button button-primary" href="{{ path('github_connect') }}">Connect with GitHub</a>
{% endblock %}

