{% extends "base.twig" %}

{% block body %}

  <p class="lead">
    Post to your Github-hosted blog just by sending an email.
  </p>

  <p>
    <a class="button button-primary button-block" href="{{ path('github_connect') }}">Connect with GitHub</a>
  </p>

  <p class="text-center">
    <a href="{{ path('about') }}">How does it work?</a>
  </p>
{% endblock %}