{% extends "base.twig" %}

{% block body %}
  <h1>Login</h1>

  {% if loginEmailSent %}
    <div>
      Check your email for a login link.
    </div>
  {% else %}
    {% if errors.count() %}
      {% for error in errors %}
        <div class="form-error" style="color:red;">
          {{ error }}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{{ app.path('login') }}">
      <input name="login_email" type="email" placeholder="Email"/>
      <input type="submit" />
    </form>
  {% endif %}
{% endblock %}